<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>EJS Welcome to
    <%= title %>
  </p>
  <button id="btn">
    click me to retrieve user
  </button>
  <p></p>
  <div>
    <div>
      姓名：<input type="text" id="name">
    </div>
    <div>
      头像：<input onchange="uploadImage(event)" type="file" accept="image/*">
    </div>
    <div>
      年龄：<input type="number" id="age">
    </div>
    <div>
      内容：<input type="text" id="content">
    </div>
    <div>
      备注：<input type="text" id="description">
    </div>
    <p></p>
    <button onclick="insertUser()">
      提交
    </button>
  </div>
</body>
<script>
  function uploadImage(e) {
    // console.log(e);
    let file = e.target.files[0];
    let param = new FormData();
    param.append("file", file);
    let config = {
      headers: {"Content-type": "multipart/form-data"}
    }
    axios.post("/upload", param, config)
         .then((res) => {
           console.log(res);
         })
         .catch(err => {
           console.log(err);
         })
  };
  function insertUser() {
    let name = document.getElementById("name");
    let icon = document.getElementById("icon");
    let age = document.getElementById("age");
    let content = document.getElementById("content");
    let description = document.getElementById("description");
    axios.get("/insert/user", {
      params: {
        name: name.value,
        icon: icon.value,
        age: age.value,
        content: content.value,
        description: description.value
      }
    })
      .then((res) => {
        document.body.append(JSON.stringify(res.data));
      });
  };
  window.onload = function () {
    document.getElementById("btn").onclick = function () {
      axios.get("/retrieve/user")
        .then((res) => {
          document.body.append(JSON.stringify(res.data));
        });
    };
  }
</script>

</html>